
#container {
    display: block;
	text-align: center;
    max-width: 45em;
    margin: auto;
}
#header {
        	
}
#main {

}
#td-1 {
    border:5px solid red;
}
#td-2 {
    border:5px solid yellow;
}
#td-3 {
    border:5px solid black;
}
#td-1 {
    margin: 10px 0px;
    margin-left: 25%;
    width: 20%;
    float: left;
}
#td-2 {
    margin: 10px 0px;
    margin-right: 25%;
    width: 20%;
    float: right;
}
#footer {
    position: absolute;
    width: 99%;
    text-align: center;
	bottom: 0px;
}
.linenone {
    text-decoration: none;
    position: absolute;
    bottom: 0px;
}