#container {
    display: block;
	text-align: center;
}
#header {
        	
}
#main {
    position: absolute;
    width: 99%;
}
#footer {
    position: absolute;
    width: 99%;
    text-align: center;
	bottom: 0px;
}